<meta charset="utf-8">
<title>PyCon AU 2019 | {{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
<link href="https://fonts.googleapis.com/css?family=Catamaran:400,700|PT+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="/static/css/bootstrap-4.1.0.min.css">
<link rel="stylesheet" href="/static/css/pycon.css">

<!-- Cards -->
{% if page.type == "talk" %}
{% capture title %}{% for speaker in page.speakers %}{% if forloop.index0 > 0 %} and {% endif %}{{ speaker.name }}{% endfor %} will be speaking at PyCon AU 2019{% endcapture %}
{% else %}
{% assign title = "PyCon AU 2019 | " | append: page.title %}
{% endif%}
{% assign descript = page.abstract or page.description or site.description %}
<meta property="og:title"  content="{{ title }}">
<meta name="twitter:title" content="{{ title }}">
<meta property="og:description"  content="{{ descript }}" />
<meta name="twitter:description" content="{{ descript }}" />
<meta property="og:url"    content="{{ page.url | prepend: site.url }}">
<meta name="twitter:site"  content="@pyconau">
{%- if page.card %}
<!--- twitter card -->
{% assign card = page.card | prepend: "/static/img/cards/" | prepend: site.url -%}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ card }}" />
<meta property="og:image"  content="{{ card }}" />
{% else %}
<!--- no page.card found. -->
{% assign image = "/static/img/pyconau-icon.png" | prepend: site.url -%}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ image }}" />
<meta property="og:image"  content="{{ image }}" />
{% endif %}
