<section id="sponsors" class="sponsors">
  {% for level in site.data.sponsors %}
    <h1>{{ level.title }}</h1>
    <div class="row">
    {% for sponsor in level.sponsors %}
    {% assign colspan = 6 %}
    {% if sponsor.colspan %}{% assign colspan = sponsor.colspan %}{% endif %}
        <div class="col-12 col-lg-{{colspan}}">
          <h5 align="center" style="padding-bottom: 10px">
          <a target="_blank" href="{% if sponsor.href%}{{sponsor.href}}{%else%}{{sponsor.link}}{%endif%}"><img class="img-fluid sponsorlogo" src="/static/img/sponsors/{{sponsor.logo}}" alt="{{sponsor.name}}"></a>
          </h5>
          {% if sponsor.link %}
          <h5 align="center" style="padding-bottom: 10px">
          <a href="{% if sponsor.href%}{{sponsor.href}}{%else%}{{sponsor.link}}{%endif%}" target="_blank">{{sponsor.link}}</a>
          </h5>
          {% endif %}
          {% if sponsor.twitter %}
          <h5 align="center" style="padding-bottom: 10px"><a href="https://twitter.com/{{sponsor.twitter}}" target="_blank">@{{sponsor.twitter}}</a></h5>
          {% endif %}
          {% if sponsor.blurb %}
              <p>{{sponsor.blurb}}</p>
          {% endif %}
        </div>
    {% endfor %}
    </div>
  {% endfor %}
</section>
