<div class="col-12 col-lg">
<div class="session {{ session.type }}" style="{{session.css}}">
    {% if session.hide %}
        <h5>{{session.title}}</h5>
        {% if session.type == "keynote" %}<div class="speaker">Yet to be announced</div>{%endif%}
    {% else %}
    <h5><a target="_blank" href="{{session.url}}" {% if session.type == "track" %} class="slug-{{session.track}}" {%endif%}>{{ session.title }}</a></h5>
    {% if session.type == 'track' %}{% if session.description %}<div class="speaker">{{session.description}}</div>{%endif%}
    {% else %}
        <div class="speaker">
        {% for speaker in session.speakers -%}
        {%- if forloop.index0 > 0 %} and {% endif %}{{ speaker.name }}
        {%- endfor %}
        </div>
    {% endif %}
    {% endif %}
    <span class="d-lg-none">{% if session.nicetrack %}Track: {{session.nicetrack}}<br>{%endif%}Room: {{ track.title }}</span>
    {% if session.track == "deepdive"" %}<span><b>Deep Dive Talk</b></span>{%endif%}
    <span class="d-lg-none">{% if session.endTime %}<span class="d-block"><b>Ends at {{ session.endTime }}</b></span>{%endif%}</span>
</div>
</div>
